<!-- ===main=== -->
<div class="container mb-4" id="login-card">

  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6 my-5">
              <div class="p-5">
                <h4 class="text-center text-gray mb-5">您的美食探索之旅即將啟航</h4>
                <form class="user" method="POST" action="/">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="輸入您的帳號" value="{{userKeyin.email}}" required>
                    </div>
                    <div class=" form-group mb-2">
                    <input type="password" name="password" class="form-control" placeholder="輸入您的密碼" required>
                  </div>
                  <div class="form-group">
                    {{#if result}}
                    <span class="text-danger"><i class="fas fa-exclamation-circle"></i> {{result}}</span>
                    {{/if}}
                  </div>

                  <!-- <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="rememberMe">
                        <label class="custom-control-label" for="rememberMe">記住我 功能尚未啟用</label>
                      </div>
                    </div> -->

                  <button type="submit" class="btn text-white btn-block " id="login-btn">
                    上來吧
                  </button>
                  <hr>
                  {{!-- 功能尚未啟用 --}}
                  <div class="text-center">
                    <a class="small" href="/">忘記密碼了？幫你找找</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/">還沒有帳號？前往註冊</a>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>