<!-- ===welcome=== -->
<div class="container mt-5" id="login-success">

  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-welcome-image"></div>
            <div class="col-lg-6 my-5">
              <div class="p-5">
                <h4 class="text-center text-gray mb-5">
                  歡迎{{{result}}}，上路囉！</h4>

                <a href="/" class="btn btn-secondary btn-block " id="logout-btn">
                  登出
                </a>

                <hr>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>